language: ruby

services:
  - postgresql

addons:
  - snaps:
    - name: docker
      channel: latest/beta
  - postgresql: "11"

cache:
  directories:
    - vendor/bundle

rvm: "2.5.9"

env:
  - RAILS_ENV=test
  - global:
    - PATH=/snap/bin:$PATH

before_script:
  - cp db/main/structure.sql db/main/structure-original.sql
  - cp config/database.yml.travis config/database.yml

after_success:
  - script/upload_structure.rb

jobs:
  include:
    - stage: "Testing time"
      script:
        - bundle exec rspec spec
    - stage: "Ship to Quay.io"
      before_script: echo skip
      after_success: echo skip
      script: make ship
      if: (branch = master and type = push ) OR commit_message =~ /ship:docker/ OR env(SHIP_DOCKER) = true
