language: ruby
sudo: false

services:
  - postgresql

addons:
  postgresql: "9.6"

cache:
  directories:
    - vendor/bundle

rvm: "2.5.1"

env:
  - RAILS_ENV=test

script:
  - bundle exec rspec spec
  - script/validate_structure_file.rb db/main/structure-original.sql

before_script:
  - cp db/main/structure.sql db/main/structure-original.sql
  - cp config/database.yml.travis config/database.yml
