language: ruby
sudo: false

services:
  - postgresql

addons:
  snaps:
  - name: docker
    channel: latest/beta
  - postgresql: "9.6"

cache:
  directories:
    - vendor/bundle

rvm: "2.5.3"

env:
  - RAILS_ENV=test
  - global:
    - PATH=/snap/bin:$PATH

before_script:
  - cp db/main/structure.sql db/main/structure-original.sql
  - cp config/database.yml.travis config/database.yml

after_success:
  - script/upload_structure.rb

jobs:
  include:
    - stage: "Testing time"
      script:
        - bundle exec rspec spec
        - script/validate_structure_file.rb db/main/structure-original.sql
    - stage: "Ship to Quay.io"
      before_script: echo skip
      after_success: echo skip
      script: make ship
      if: commit_message =~ /ship:docker/ OR env(SHIP_DOCKER) = true

deploy:
  - provider: script
    script: make ship
    on:
      branch: master
