language: ruby

services:
  - postgresql

cache:
  directories:
    - vendor/bundle

rvm: "3.2.2"

env:
  - RAILS_ENV=test
  - global:
    - PATH=/snap/bin:$PATH
before_install:
  - 'gem install bundler -v 2.4.17'

before_script:
  - cp db/main/structure.sql db/main/structure-original.sql
  - cp config/database.yml.travis config/database.yml

before_install:
  - gem install bundler:2.3.7

after_success:
  - script/upload_structure.rb

jobs:
  include:
    - stage: "Testing time"
      dist: focal
      language: ruby
      services:
        - postgresql
      before_script:
        - psql --version
        - psql -c 'CREATE DATABASE travis_test;'
        - curl -fs https://raw.githubusercontent.com/travis-ci/travis-migrations/master/db/main/structure.sql | psql -v ON_ERROR_STOP=1 travis_test
      script:
        - bundle exec rspec spec
    - stage: "Ship to Quay.io"
      dist: focal
      before_script: echo skip
      after_success: echo skip
      script: make ship
      if: (branch = master and type = push ) OR commit_message =~ /ship:docker/ OR env(SHIP_DOCKER) = true
before_install:
  - gem install rubygems-update -v 3.3.27
