language: ruby

sudo: false

services:
  - postgresql

cache:
  directories:
    - vendor/bundle

rvm: "2.3.4"

env:
  - RAILS_ENV=test

matrix:
include:
  - addons:
      postgresql: "9.3"
  - addons:
      postgresql: "9.6"
fast_finish: true

before_install:
  - gem install bundler -v 1.6.1

install:
  - bundle _1.16.4_ install --jobs=3 --retry=3 --path=${BUNDLE_PATH:-vendor/bundle}

before_script:
  - cp config/database.yml.travis config/database.yml
